html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: body-animation 1s linear;
          animation: body-animation 1s linear;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.24);
  font-family: Helvetica, Arial, sans-serif;
}
svg {
  -webkit-animation: svg-appearance 1.2s ease-in-out;
          animation: svg-appearance 1.2s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-perspective: 500px;
          perspective: 500px;
  box-shadow: 0 0 15px 6px rgba(0,0,0,0.15);
  overflow: visible;
  padding: 1px 3px;
  background: rgba(255,255,255,0.85);
  margin: auto;
  cursor: pointer;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
}
svg:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
path {
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
  -webkit-animation: path-appearance 0.7s ease-out forwards;
          animation: path-appearance 0.7s ease-out forwards;
}
path:nth-child(1) {
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s;
}
path:nth-child(2) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}
path:nth-child(3) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}
path:nth-child(4) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}
path:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
path:nth-child(6) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}
path:nth-child(7) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}
path:nth-child(8) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}
path:nth-child(9) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}
path:nth-child(10) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
path:nth-child(11) {
  -webkit-animation-delay: 0.44s;
          animation-delay: 0.44s;
}
path:nth-child(12) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}
path:nth-child(13) {
  -webkit-animation-delay: 0.52s;
          animation-delay: 0.52s;
}
path:nth-child(14) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}
path:nth-child(15) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
path:nth-child(16) {
  -webkit-animation-delay: 0.64s;
          animation-delay: 0.64s;
}
path:nth-child(17) {
  -webkit-animation-delay: 0.68s;
          animation-delay: 0.68s;
}
path:nth-child(18) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}
path:nth-child(19) {
  -webkit-animation-delay: 0.76s;
          animation-delay: 0.76s;
}
path:nth-child(20) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
path:nth-child(21) {
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}
path:nth-child(22) {
  -webkit-animation-delay: 0.88s;
          animation-delay: 0.88s;
}
path:nth-child(23) {
  -webkit-animation-delay: 0.92s;
          animation-delay: 0.92s;
}
path:nth-child(24) {
  -webkit-animation-delay: 0.96s;
          animation-delay: 0.96s;
}
path:nth-child(25) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
path:nth-child(26) {
  -webkit-animation-delay: 1.04s;
          animation-delay: 1.04s;
}
path:nth-child(27) {
  -webkit-animation-delay: 1.08s;
          animation-delay: 1.08s;
}
path:nth-child(28) {
  -webkit-animation-delay: 1.12s;
          animation-delay: 1.12s;
}
path:nth-child(29) {
  -webkit-animation-delay: 1.16s;
          animation-delay: 1.16s;
}
path:nth-child(30) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
path:nth-child(31) {
  -webkit-animation-delay: 1.24s;
          animation-delay: 1.24s;
}
path:nth-child(32) {
  -webkit-animation-delay: 1.28s;
          animation-delay: 1.28s;
}
path:nth-child(33) {
  -webkit-animation-delay: 1.32s;
          animation-delay: 1.32s;
}
path:nth-child(34) {
  -webkit-animation-delay: 1.36s;
          animation-delay: 1.36s;
}
path:nth-child(35) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
path:nth-child(36) {
  -webkit-animation-delay: 1.44s;
          animation-delay: 1.44s;
}
@-webkit-keyframes path-appearance {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
  65% {
    -webkit-transform: scaleY(1.04);
            transform: scaleY(1.04);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes path-appearance {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
  65% {
    -webkit-transform: scaleY(1.04);
            transform: scaleY(1.04);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}
@-webkit-keyframes svg-appearance {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  65% {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes svg-appearance {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  65% {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
