html
body
    height: 100%

body
    display: flex
    margin: 0
    justify-content center
    align-items center

svg
    outline: 1px solid #000
    width: 800px
    height: 500px
    overflow: visible
